[Desktop Entry]
Encoding=UTF-8
Name=Link to Videotex – NAPLPS Client for the Commodore 64 Archived | Jamming Signal
Type=Link
URL=https://jammingsignal.com/2018/01/10/videotex-naplps-client-for-the-commodore-64-archived/
Icon=text-html
